name: GitHub Actions Demo
on: [push, pull_request]
jobs:
  Explore-GitHub-Actions-v4:
    runs-on: ubuntu-latest
    steps:
      - name: pulling github repo
        uses: actions/checkout@v2
      - name: Install python version 3.9
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          architecture: 'x64'
      - name: Update pip
        run: python -m pip install --upgrade pip
      - name: Install all dependencies
        run: pip install -r requirements.txt
